body {
  margin: 0;
  padding: 0;
}



.container-titulo{
  display: flex;
  align-items: center;
  padding: 10px;  /* espaço interno bonito */
  background-color: rgba(4, 17, 5, 0.986);
  width: 100%;
  box-sizing: border-box;

}


.titulo-texto h1,
.titulo-texto h2 {
  margin: 0; /* remove espaçamento padrão */
  margin-bottom: 10px;
  color: rgba(250, 250, 250, 0.925);
}

.titulo-texto h1 {
    font-size: 22px;
}

.titulo-texto h2 {
  font-size: 14px;
}

